.modal {
  position: fixed;
  width: 400px;
  height: 350px;
  left: 25%;
  top: 25%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

textarea {
  height: 75px;
  width: 300px;
}
